:root {
  --primary-color: skyblue;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}

.hero-banner {
  background-image: url(/images/02-hero-bg.jpg);
  margin-bottom: 50px;
  width: 100% ;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: end;
}

header {
display: flex;
width: 100%;
height: 80px ;
background-color: rgb(62, 56, 56) ;

}
 a {
  color: var( --primary-color, skyblue);
  align-items: center;
  margin: 10px;
 
}
 
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
/*nav > a {
  display; flex;
  flex-direction: flex- end;
}*/
#learnantino {
  display: flex;
  background-color: var(--primary-color, skyblue );
  padding: 1px;
  width: 200px;
  margin: 3px;
  justify-content: end;
 
}
#subtitle {
  display: flex;
  background-color: var(--primary-color, skyblue);
  padding: 3px;
  width: 230px;
  margin: 10px;
  justify-content: center;
}
.page-section h2 {
  margin-left: 100px;
}
/*nav {
  display: flex;
 justify-content: space-around;
}*/
nav a {
  position: relative;
  left: 700px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
#contact p {
  justify-content:space-evenly;
}
ul {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  list-style-type: none;
}

#portfolio-images {
  border-color: var(--primary-color, skyblue);
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: 100px 50px 50px 50px 50px;
  grid-template-areas:
  "surf surf surf"
  "LED     calculator"
  "pastel   form"
  ;
}
#surf {
  grid-area: surf;
}
#led {
  grid-area: LED ;
}
#calculator {
  grid-area: calculator;
}
#pastel {
  grid-area: pastel;
}
#form {
  grid-area: form;
}