* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}

.hero-banner {
  background-image: url(images\02-hero-bg.jpg);
  margin: 0.5px;
  width: 100% ;
  /*display: inline-block;*/
}

header {
display: flex;
width: 100%;
height: 80px ;
background-color: rgb(62, 56, 56) ;

}
 a {
  color: skyblue;
  align-items: center;
  margin: 10px;
 
}
 
nav {
  display: flex;
  justify-content: space-evenly;
}
nav > a {
  display; flex;
  flex-direction: flex- end;
}
#learnantino {
  display: flex;
  background-color: skyblue;
  padding: 1px;
  width: 200px;
  margin: 3px;
  justify-content: end;
 
}
#subtitle {
  display: flex;
  background-color: skyblue;
  padding: 1px;
  width: 230px;
  margin: 3px;
  justify-content: center;
}

nav {
  display: flex;
 justify-content: space-around;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
#contact p {
  justify-content:space-evenly;
}
footer {
  display: flex;
}

